# символ комментария

# Можно Исключить из индексации (игнорировать) сам файл .gitignore
#.gitignore

# игнорировать все файлы в каталоге tmp/
tmp/

# не обрабатывать файлы, имя которых заканчивается на .a
*.a
# НО отслеживать файл lib.a, несмотря на то, что мы игнорируем все .a файлы с помощью предыдущего правила
!lib.a

# игнорировать любые файлы заканчивающиеся на .o или .b - объектные и бинарные файлы, которые могут появиться во время сборки кода.
*.[ob]
# игнорировать все файлы заканчивающиеся на тильду (~), которая используется во многих текстовых редакторах
*~

# игнорировать все .txt файлы в каталоге doc/ 
# Шаблон **/ доступен в Git, начиная с версии 1.8.2.
doc/**/*.txt